:root {
  --color-primary: #575757;
  --color-secondary: #715035;
  --color-tertiary: #fe8380;
  --bg-primary: #f2e2d7;
  --bg-secondary: #ffffff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  background-image: url("../assets/bg.jpg"), linear-gradient(to right bottom, var(--bg-primary), var(--bg-secondary));
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  background-color: #fff;
  margin: 8rem 20rem;
  position: relative; }
  .container .half-circle {
    background-color: #fff;
    margin-top: 55rem; }
    .container .half-circle:before {
      content: "";
      width: 100%;
      height: 105vh;
      clip-path: circle(70% at 50% 100%);
      background-color: inherit;
      position: absolute;
      left: 0;
      top: -52.5rem;
      z-index: -1; }
    .container .half-circle .img-flower {
      position: relative;
      top: -53rem;
      left: 40%; }
    .container .half-circle .header-title {
      margin-top: -47rem;
      text-align: center; }
      .container .half-circle .header-title h1 {
        font-size: 3rem; }
      .container .half-circle .header-title span {
        font-family: 'Great Vibes', cursive;
        color: var(--color-tertiary);
        font-size: 6rem; }
        .container .half-circle .header-title span span {
          color: var(--color-primary); }
      .container .half-circle .header-title p {
        font-size: 1.8rem;
        font-weight: 800; }
  .container .bride {
    background-color: var(--bg-secondary);
    display: flex;
    align-content: center;
    padding: 0 10rem;
    margin-bottom: 8rem; }
    .container .bride .wrapper {
      text-align: center;
      width: 100%; }
      .container .bride .wrapper h3 {
        text-transform: capitalize;
        color: var(--color-primary);
        font-weight: 400;
        font-size: 3rem; }
      .container .bride .wrapper h2 {
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
        color: var(--color-tertiary);
        font-weight: 400; }
      .container .bride .wrapper p {
        font-size: 1.8rem;
        font-weight: 700; }
  .container .wedding-event {
    background: var(--bg-primary);
    background-image: url("../assets/bg-wedding-event.png");
    background-repeat: repeat;
    padding: 3rem; }
    .container .wedding-event h3 {
      font-size: 3.4rem;
      text-align: center;
      letter-spacing: .4rem;
      text-transform: uppercase;
      margin: 0 1rem; }
    .container .wedding-event .d-flex {
      display: flex; }
      .container .wedding-event .d-flex .wrapper {
        width: 100%;
        margin: 3rem 0;
        text-align: center; }
        .container .wedding-event .d-flex .wrapper:first-child {
          border-right: solid 0.1rem var(--color-primary); }
        .container .wedding-event .d-flex .wrapper span {
          font-size: 3rem;
          text-transform: capitalize; }
        .container .wedding-event .d-flex .wrapper p {
          font-size: 1.8rem;
          font-weight: 400;
          color: var(--color-secondary); }
          .container .wedding-event .d-flex .wrapper p span {
            font-size: 1.6rem; }
  .container .section-ayat {
    padding: 1rem; }
    .container .section-ayat .box-ayat {
      position: relative;
      margin: 4rem 30rem;
      padding: 4rem;
      -webkit-box-shadow: 11px 11px 20px 2px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 11px 11px 20px 2px rgba(0, 0, 0, 0.35);
      box-shadow: 11px 11px 20px 2px rgba(0, 0, 0, 0.35); }
      .container .section-ayat .box-ayat:before, .container .section-ayat .box-ayat:after {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat; }
      .container .section-ayat .box-ayat:before {
        content: url(../assets/quote-top.png);
        top: 1rem;
        left: 1rem; }
      .container .section-ayat .box-ayat:after {
        content: url(../assets/quote-bot.png);
        text-align: right;
        right: 1rem;
        bottom: 1rem; }
      .container .section-ayat .box-ayat .ayat {
        text-align: center;
        font-weight: 700;
        font-size: 1.8rem; }
  .container .section-time {
    background: #fff url("../assets/bg-time.png") no-repeat;
    background-size: auto;
    text-align: center; }
    .container .section-time h2 {
      overflow: hidden;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 400; }
      .container .section-time h2:before, .container .section-time h2:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 35%; }
    .container .section-time span {
      font-size: 6rem;
      letter-spacing: 1rem;
      font-family: 'Great Vibes', cursive;
      color: var(--color-tertiary); }
    .container .section-time p {
      font-size: 3rem;
      font-weight: 700; }
  .container .section-attending {
    background: #fff url("../assets/bg-attending.png") no-repeat;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center; }
    .container .section-attending .content-maps {
      color: var(--bg-secondary);
      width: 50%;
      text-align: center;
      padding: 10rem 3rem; }
      .container .section-attending .content-maps h2 {
        font-size: 4rem;
        text-transform: capitalize;
        font-weight: 400;
        font-family: 'Great Vibes', cursive; }
    .container .section-attending .content-rsvp {
      color: var(--bg-secondary);
      width: 50%;
      text-align: center;
      padding: 10rem 3rem; }
      .container .section-attending .content-rsvp .table {
        margin: 0 10rem; }
        .container .section-attending .content-rsvp .table .table-header {
          background-color: var(--bg-secondary);
          padding: 3rem;
          font-weight: 700; }
          .container .section-attending .content-rsvp .table .table-header h2 {
            text-transform: capitalize;
            font-size: 3rem;
            color: var(--color-primary); }
        .container .section-attending .content-rsvp .table .table-content {
          background: var(--bg-primary);
          height: 550px;
          position: relative; }
          .container .section-attending .content-rsvp .table .table-content .break-line {
            border: solid 3px var(--bg-secondary);
            position: absolute;
            top: .5rem;
            width: 100%; }
          .container .section-attending .content-rsvp .table .table-content .table-form {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            font-size: 2.4rem;
            color: var(--color-primary);
            text-transform: capitalize; }
            .container .section-attending .content-rsvp .table .table-content .table-form input[type=text], .container .section-attending .content-rsvp .table .table-content .table-form select {
              width: 60%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box; }
            .container .section-attending .content-rsvp .table .table-content .table-form input[type=submit] {
              width: 60%;
              font-size: 2rem;
              background-color: var(--color-tertiary);
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 50px;
              cursor: pointer; }
              .container .section-attending .content-rsvp .table .table-content .table-form input[type=submit]:hover {
                background-color: #ff6b6c; }
  .container .footer {
    text-align: center;
    padding: 4rem; }
    .container .footer .text-groom {
      color: var(--color-tertiary);
      font-size: 5rem;
      letter-spacing: 2rem;
      text-transform: capitalize;
      font-weight: 400;
      font-family: 'Great Vibes', cursive; }
    .container .footer .text-end {
      font-size: 2rem;
      letter-spacing: .5rem;
      text-transform: capitalize;
      font-weight: 400; }
