:root{
    --color-primary  : #575757;
    --color-secondary: #715035;
    --color-tertiary : #fe8380;

    --bg-primary  : #f2e2d7;
    --bg-secondary: #ffffff;
}

// Global reset
* {
    margin : 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size : 62.5%;       // 1rem = 10px, 10px/16px = 62.5%
}

body{
    font-family      : 'Lato', sans-serif;
    font-weight      : 400;
    line-height      : 1.6;
    color            : var(--color-primary);
    background-image : url('../assets/bg.jpg'), linear-gradient(to right bottom, var(--bg-primary), var(--bg-secondary));
    background-size  : cover;
    background-repeat: no-repeat;

}

.container{
    background-color: #fff;
    margin          : 8rem 20rem;
    position        : relative;
    
    .half-circle{
        background-color: #fff;
        margin-top      : 55rem;

        &:before{
            content         : "";
            width           : 100%;
            height          : 105vh;
            clip-path       : circle(70% at 50% 100%);
            background-color: inherit;
            position        : absolute;
            left            : 0;
            top             : -52.5rem;
            z-index         : -1;
        }
        

        .img-flower{
            position: relative;
            top     : -53rem;
            left    : 40%;
        }

        .header-title{ 
            margin-top: -47rem;
            text-align: center;

            h1{
                font-size: 3rem;
            }
            
            span{
                font-family: 'Great Vibes', cursive;
                color      : var(--color-tertiary);
                font-size  : 6rem;

                span{
                    color: var(--color-primary);
                }
            }

            p {
                font-size  : 1.8rem;
                font-weight: 800;
            }
        }
    }

    .bride{
        background-color: var(--bg-secondary);
        display         : flex;
        align-content   : center;
        padding         : 0 10rem;
        margin-bottom   : 8rem;

        .wrapper{
            text-align: center;
            width     : 100%;

            h3{
                text-transform: capitalize;
                color         : var(--color-primary);
                font-weight   : 400;
                font-size     : 3rem;
            }

            h2{
                font-family: 'Great Vibes', cursive;
                font-size  : 5rem;
                color      : var(--color-tertiary);
                font-weight: 400;
            }

            p{
                font-size  : 1.8rem;
                font-weight: 700;
            }

        }
    }


    .wedding-event{
        background       : var(--bg-primary);
        background-image : url('../assets/bg-wedding-event.png');
        background-repeat: repeat;
        padding          : 3rem;

        h3{
            font-size     : 3.4rem;
            text-align    : center;
            letter-spacing: .4rem;
            text-transform: uppercase;
            margin        : 0 1rem;
        }

        .d-flex{
            display: flex;

            .wrapper{
                width     : 100%;
                margin    : 3rem 0;
                text-align: center;

                &:first-child{
                    border-right: solid .1rem var(--color-primary);
                }
                
                span{
                    font-size     : 3rem;
                    text-transform: capitalize;
                }
        
                p{
                    font-size  : 1.8rem;
                    font-weight: 400;
                    color      : var(--color-secondary);

                    span{
                        font-size: 1.6rem;    
                    }
                }
            }
        }
    }

    .section-ayat{
        padding: 1rem;

        .box-ayat{
            position: relative;

            &:before,&:after{
                position         : absolute;
                width            : 100%;
                background-repeat: no-repeat;

            }

            &:before{
                content          : url(../assets/quote-top.png);
                top              : 1rem;
                left             : 1rem;
            }
            
            &:after{
                content   : url(../assets/quote-bot.png);
                text-align: right;
                right     : 1rem;
                bottom    : 1rem;
            }
            
            margin            : 4rem 30rem;
            padding           : 4rem;
            -webkit-box-shadow: 11px 11px 20px 2px rgba(0, 0, 0, 0.35);
            -moz-box-shadow   : 11px 11px 20px 2px rgba(0, 0, 0, 0.35);
            box-shadow        : 11px 11px 20px 2px rgba(0, 0, 0, 0.35);
            
            .ayat{
                text-align : center;
                font-weight: 700;
                font-size  : 1.8rem;
            }
        }
    }

    .section-time{
        background     : #fff url('../assets/bg-time.png') no-repeat;
        background-size: auto;
        text-align     : center;
        
        h2{
            overflow      : hidden;
            text-transform: uppercase;
            font-size     : 4rem;
            font-weight   : 400;

            &:before,
            &:after {
            background-color: #000;
            content         : "";
            display         : inline-block;
            height          : 1px;
            position        : relative;
            vertical-align  : middle;
            width           : 35%;
            }
        }

        span{
            font-size     : 6rem;
            letter-spacing: 1rem;
            font-family   : 'Great Vibes', cursive;
            color         : var(--color-tertiary);
        }

        p{
            font-size  : 3rem;
            font-weight: 700;
        }
    }

    
    .section-attending{
        background : #fff url('../assets/bg-attending.png') no-repeat;
        position   : relative;
        height     : 100vh;
        display    : flex;
        align-items: center;


        .content-maps{
            color     : var(--bg-secondary);
            width     : 50%;
            text-align: center;
            padding   : 10rem 3rem;

            h2{
                font-size     : 4rem;
                text-transform: capitalize;
                font-weight   : 400;
                font-family   : 'Great Vibes', cursive;
            }
        }

        .content-rsvp{
            color     : var(--bg-secondary);
            width     : 50%;
            text-align: center;
            padding   : 10rem 3rem;

            .table{
                margin: 0 10rem;

                .table-header{
                    background-color: var(--bg-secondary);
                    padding         : 3rem;
                    font-weight     : 700;

                    h2{
                        text-transform: capitalize;
                        font-size     : 3rem;
                        color         : var(--color-primary);
                    }
                }
                .table-content{
                    
                    background: var(--bg-primary);
                    height    : 550px;
                    position  : relative;
                    
                    .break-line{
                        border  : solid 3px var(--bg-secondary) ;
                        position: absolute;
                        top     : .5rem;
                        width   : 100%;
                    }

                    .table-form{
                        position      : absolute;
                        top           : 15%;
                        left          : 50%;
                        transform     : translateX(-50%);
                        width         : 100%;
                        font-size     : 2.4rem;
                        color         : var(--color-primary);
                        text-transform: capitalize;

                        input[type=text], select {
                            width        : 60%;
                            padding      : 12px 20px;
                            margin       : 8px 0;
                            display      : inline-block;
                            border       : 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing   : border-box;
                          }

                        input[type=submit] {
                            width           : 60%;
                            font-size       : 2rem;
                            background-color: var(--color-tertiary);
                            color           : white;
                            padding         : 14px 20px;
                            margin          : 8px 0;
                            border          : none;
                            border-radius   : 50px;
                            cursor          : pointer;

                            &:hover{
                                background-color: darken(#ff6c6d, .15);
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .footer{
        text-align: center;
        padding   : 4rem;

        .text-groom{
            color         : var(--color-tertiary);
            font-size     : 5rem;
            letter-spacing: 2rem;
            text-transform: capitalize;
            font-weight   : 400;
            font-family   : 'Great Vibes', cursive;
        }
        
        .text-end{
            font-size     : 2rem;
            letter-spacing: .5rem;
            text-transform: capitalize;
            font-weight   : 400;
        }
        
    }

}

